@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    color: #4a4a4a;
    opacity: 1;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.container-card {
    width: 350px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(207, 205, 205);
    background-color: white;
}

.logo {
    margin-top: 20px;
}

.logo img {
    width: 70px;
}

.inputLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.inputContainer {
    position: relative;
    height: 35px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 17px;

}

.input {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 8px;
    font-size: 10px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;


}

.label {
    position: absolute;
    top: -7px;
    left: 3px;
    padding: 0 4px;
    background-color: white;
    color: rgb(170, 170, 170);
    font-size: 10px;
    transition: 0.5s;
    z-index: 10;


}

.input:focus {
    border: 1px solid #11cc59;

}

.input:focus+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 10px;
    color: #11cc59;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 35px;
    padding: 10px 0px;
    border: none;
    background-color: #11cc59;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #4a4a4a;
}


#textForm {
    font-size: 10px;
    color: red;
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------PAGE NOTIFICAÇÕES------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------- */


.oculto {
    width: 35px;
}

.oculto .p {
    display: none;
}

.oculto .img {
    display: none;
}

.oculto .logo-menu {
    display: none;
}

.oculto .icon p {
    display: none;
}

.oculto .seta-comercial {
    display: none;
}

.oculto .icon-notif {
    width: 25px;
}

.oculto .icon-text {
    width: 25px;
}

.menu-lateral ul .comercial-open.oculto {
    display: block;

}

.menu-lateral ul .comercial-open {
    display: none;

}


/* -----------ÍCONES PÁGINA PRINCIPAL----------- */

.container-page {
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 10px;
    z-index: 9998;
}

.container-icones {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.icon-menu img {
    /* BOTÃO MENU */
    margin: 0 0 5px 5px;
    width: 28px;
    border: 0;
}

.icon-text {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}


.icon-text.oculto p {
    display: none;
}


.seta-menu {
    padding-top: 15px;
    padding-right: 5px;
}

.seta-menu img {
    width: 15px;
}

.icon-text-notif {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    color: white;
    background-color: #11cc59;
    border-radius: 10px;
}

.notif-branco {
    background-color: #11cc59;
    padding: 6px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-open {
    /* BOTÃO MENU */
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.icon {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.icon-comercial {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin-left: 10px;

}

.icon-comercial img {
    margin: 10px 0 5px 5px;
    width: 20px;
}

.icon p {
    padding-top: 5px;
    font-size: 14px;
}

.icon-text img {
    margin: 10px 0 5px 5px;
    width: 26px;
}

.icon-text-notif p {
    padding-top: 3px;
    font-size: 14px;
}


.icon-notif img {
    width: 26px;
}


.logo-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    left: 80px;
}

.logo-menu img {
    width: 70px;
}

ul {
    list-style: none;
}

#comercial {
    display: block;
}

.comercial-cima {
    display: flex;
    justify-content: space-between;
}

.comercial-open {
    padding-left: 35px;
}

.comercial-open p {
    font-size: 12px;
    color: #787575f0;
}

/* -----------FILTRO----------- */

.filtro-container {
    position: fixed;
    top: 100px;
    right: 15px;
    margin: auto;
    width: 700px;
    height: 200px;
    padding: 15px 15px;
    border-radius: 8px;
    background-color: white;
    display: block;
    opacity: 1;
    z-index: 9999;
    display: none;
    box-shadow: 0px 0px 15px rgb(207, 205, 205);
}

.filtro-container::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    right: 10px;
    border: .75rem solid transparent;
    border-top: none;
    
    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.input-filtro-data {
    position: relative;
    height: 35px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;

}
.button-filtro {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;

}

.botao-limpar {
    width: 150px;
    height: 30px;
    border: 2px solid #11cc59;
    border-radius: 8px;
    color: #11cc59;
    background-color: white;
    font-size: 15px;
    cursor: pointer;

}

.botao-filtrar {
    width: 150px;
    height: 30px;
    border: 1px solid #11cc59;
    border-radius: 8px;
    color: white;
    background-color: #11cc59;
    font-size: 15px;
    cursor: pointer;
}

.input-filtro:focus+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 10px;
    color: #11cc59;
    font-weight: 500;
}

.input-filtro:focus {
    border: 2px solid #11cc59;

}

.input-filtro {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 8px;
    font-size: 10px;
    padding: 10px 15px;
    outline: none;
    background: none;
    z-index: 1;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.filtro-input {
    display: flex;
    gap: 20px;
}

.filtro-status label {
    font-size: 12px;
    font-weight: 500;
}

.container-status {
    position: relative;
}

.status {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid #AAAAAA;
    padding: 5px;
    color: #AAAAAA;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.status:focus+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 10px;
    color: #11cc59;
    font-weight: 500;
}

.status:focus {
    border: 2px solid #11cc59;

}



/* -----------POP UP----------- */

@keyframes animacao {

    to {
        transform: translateY(0px);
    }
}

@keyframes fechar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(600px);
    }
}

textarea {
    resize: none;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 900px;
    height: 350px;
    padding: 20px 15px;
    box-shadow: 0px 0px 15px rgba(189, 187, 187, 0.805);
    border-radius: 8px;
    background-color: white;
    display: none;
    transform: translateY(600px);
    opacity: 1;
    z-index: 9999;
}

.popup#animar {
    animation: animacao 1s forwards;

}

.popup-text p {
    font-weight: bold;
}

.popup-text2 p {
    font-size: 13px;
}

.popup-text img {
    width: 35px;
    height: 3px;
    margin-bottom: 10px;
}


.input-popup-titulo {
    position: relative;
    height: 35px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;

}

.input-popup-msg {
    position: relative;
    height: 100px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.input-popup:focus+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 12px;
    color: #11cc59;
    font-weight: 500;
}

.input-popup:focus {
    border: 2px solid #11cc59;

}

.input-popup {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 8px;
    font-size: 10px;
    padding: 10px 15px;
    outline: none;
    background: none;
    z-index: 1;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}


.popup-input label {
    font-size: 12px;
    font-weight: 500;
}


.button-popup {
    padding-top: 33px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;

}

.botao-cancelar {
    width: 120px;
    height: 25px;
    border: 2px solid #11cc59;
    border-radius: 8px;
    color: #11cc59;
    background-color: white;
    font-size: 13px;
    cursor: pointer;

}

.botao-salvar {
    width: 120px;
    height: 25px;
    border: 1px solid #11cc59;
    border-radius: 8px;
    color: white;
    background-color: #11cc59;
    font-size: 13px;
    cursor: pointer;
}


/* -----------PRINCIPAL----------- */

.principal {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.topo {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 0 5px 5px 10px;
}

.container-notificacao p {
    font-weight: bold;
    font-size: 20px;
    color: #4a4a4a;
}

.notif-text {
    display: flex;
    flex-direction: column;

}

.notif-text img {
    width: 35px;
    height: 3px;
    margin-bottom: 16px;
}

#notif-menu p {
    color: white;
    padding-right: 80px;
}

.pesquisa {
    padding-left: 32px;
    padding-top: 3px;
    width: 600px;
    height: 30px;
    border-radius: 6px;
    border: transparent;
    box-shadow: 0px 0px 15px rgb(207, 205, 205);
    background-image: url('assets/images/icons/lupa-verde.png');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: left 2% center;
    font-family: 'Montserrat', sans-serif;
}

.container-dados {
    display: flex;
    justify-content: end;
    gap: 12px;
}

.content-dados-text {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.content-dados-text p {
    font-size: 14px;
}

.icones-dados {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.icone-lateral {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    background-color: white;
    box-shadow: 0px 0px 15px rgb(207, 205, 205);
    border-radius: 10px;
}

.icone-lateral img {
    width: 24px;
}

.container-direita {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



/* ----------------TABELA -------------------- */

.tabela {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
}


thead,
tbody {
    display: block;
    border-radius: 0 0 10px 10px;
}

tbody {
    overflow-y: scroll;
    height: 500px;
    padding-right: 10px;
    background-color: white;
}

tbody::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

tbody::-webkit-scrollbar-track {
    border: 1px solid white;
    border-radius: 20px;
    background: white;
}

tbody::-webkit-scrollbar-thumb {
    background-color: #bebebe;
    border-radius: 20px;
}

.styled-table {
    width: 100%;
    height: 500px;
    font-size: 12px;
    border-radius: 10px;
}


.styled-table thead {
    width: 100%;

}

.styled-table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.styled-table td {
    text-align: left;
    width: 100%;
    height: 35px;
    padding: 5px 20px;
}

.styled-table thead td {
    top: 0;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #11cc59;
    background-color: white;
    color: #4a4a4a;
    text-align: left;
    position: sticky;
    padding: 5px 20px;

}

.styled-table img {
    width: 20px;
}

table.styled-table tr:nth-child(even) {
    background-color: #f6f6f6;
}

table.styled-table tr:nth-child(odd) {
    background-color: white;
}

.id {
    width: 20% !important;
    height: 35px;
}


/* ----------------FINAL------------------ */

.textRodape {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 0px 10px;
}

.textRodape p {
    font-size: 12px;
    color: #4a4a4a;
}

.textDireita {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.textEsquerda p {
    font-weight: bold;
}

.text1 {
    width: 160px;
    height: 30px;
    padding: 5px 5px;
    box-shadow: 0px 0px 15px rgb(207, 205, 205);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.text1 img {
    height: 12px;
}

.text2 {
    width: 90px;
    height: 30px;
    padding: 5px 5px;
    box-shadow: 0px 0px 15px rgb(207, 205, 205);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.text2 img {
    width: 12px;
}